/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    margin: 0;
    font-size: 3em;
    text-transform: uppercase;
}

/* Navigation Bar Styles */
.navbar {
    background-color: #333;
    padding: 0.8em 0;
    text-align: center;
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

.navbar ul li a:hover {
    color: #007bff;
}

main {
    padding: 0 20px;
}

section {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    margin-bottom: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2.5em;
}

p {
    margin-bottom: 15px;
    font-size: 1.2em;
    color: #555;
}

footer {
    text-align: center;
    padding: 20px 0;
    background-color: #007bff;
    color: #fff;
}

/* Styles for Image Containers */
.image-container {
    text-align: center;
    margin-bottom: 30px;
}

.image-container img {
    border-radius: 15px;
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.05);
}
